<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="CMakeRunConfiguration" factoryName="Application" PROGRAM_PARAMS="2" REDIRECT_INPUT="false" PASS_PARENT_ENVS_2="true" PROJECT_NAME="sisop2_t1" TARGET_NAME="server" CONFIG_NAME="Debug" RUN_TARGET_PROJECT_NAME="sisop2_t1" RUN_TARGET_NAME="server">
    <envs>
      <env name="TERM" value="xterm-256color" />
    </envs>
    <method v="2">
      <option name="com.jetbrains.cidr.execution.CidrBuildBeforeRunTaskProvider$BuildBeforeRunTask" enabled="true" />
    </method>
  </configuration>
</component>